@model CSM.WebApi.Models.ErrorResultPart

<fieldset>
    @Html.LabelFor(m => m.Code, new { @class = "required" })
    @Html.TextBoxFor(m => m.Code, new { @class = "text small" })
    <span class="hint">e.g. 400, 401</span>
</fieldset>

<fieldset>
    @Html.LabelFor(m => m.ReasonPhrase, T("Reason Phrase").Text, new { @class = "required" })
    @Html.TextBoxFor(m => m.ReasonPhrase, new { @class = "text medium" })
    <span class="hint">e.g. BadRequest</span>
</fieldset>
